@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor1: #8B2E2E;
    --cor1dark: #551c1c;
    --cor2: #F8F1E7;
    --cor3: #6B8E23;
    --cor3dark: #445a17;
    --cor4: #5C4033;
    --cor5: #2C2C2C;
    --fonte1: Cinzel, serif;
    --fonte2: Cormorant Garamond, serif;
    --fonte3: Nunito, serif;
}
* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 10vh;
    background-color: var(--cor2);
    position: fixed;
}

a.logo {
    font-family: var(--fonte1);
    font-size: 1.5em;
    text-decoration: underline;
    color: var(--cor1);
    padding: 1.2rem;
}

nav.menu {
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav.menu > a.menu {
    color: var(--cor1);
    font-family: var(--fonte3);
    font-weight: bold;
    font-size: 1.2em;
    padding: 1.2rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.178);
}

nav.menu > a.menu:hover {
    text-decoration: underline;
    color: var(--cor1dark);
}

section.hero {
    height: 70vh;
    background-color: var(--cor2);
    background-image: url(imagens/header-home.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: var(--fonte2);
    font-weight: normal;
    color: var(--cor2);
    text-align: center;
    padding: 9rem 3rem 3rem 3rem;
    font-size: 4em;
    
}

nav.hero {
    max-width: 2000px;
    margin: auto;
    padding: 1rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.185);
}

ul {
    list-style: none;
}

a {
    color: var(--cor2);
    text-decoration: none;
}

ul.hero {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cardapio {
    font-family: var(--fonte3);
    background-color: var(--cor3);
    color: var(--cor2);
    padding: 0.8rem;
    border-radius: 0.6rem;
    font-weight: bold;
}

.cardapio:hover {
    background-color: var(--cor3dark);
}

.reserva {
    font-family: var(--fonte3);
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 0.8rem;
    border-radius: 0.6rem;
    font-weight: bold;
}

.reserva:hover {
    background-color: var(--cor1dark);
}

section.sobre {
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 60vh;
}

h2.sobre {
    text-align: center;
}

div#imagem {
    background-color: var(--cor2);
    background-image: url(imagens/sobre-nos.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 50vh;
    margin: 2rem 2rem 2rem 2rem;
}

div#texto {
    width: 50vw;
    height: 50vh;
    text-align: justify;
    padding-top: 1rem;
}

h2 {
    font-family: var(--fonte2);
    font-size: 2.3em;
    color: var(--cor1);
    padding: 1rem;
}

div.sobre > p {
    font-family: var(--fonte3);
    padding: 0.5rem;
    font-size: 1.2em;
    color: var(--cor5);
    line-height: 1em;
}

div.sobre > p.destaque {
    font-family: var(--fonte2);
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

img.ramo {
    display: block;
    margin: auto;
}

section.sabores {
    height: 70vh;
    background-color: #BC8A52;
}

section.sabores > h2 {
    font-family: var(--fonte2);
    font-size: 3em;
    color: var(--cor5);
    text-align: center;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

ul.sabores {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    font-family: var(--fonte3);
    padding: 1.5rem;
}

figure > img {
    display: block;
    margin: auto;
    padding: 1rem;
}

figcaption {
    font-family: var(--fonte3);
    font-weight: bold;
    font-size: 1.3em;
    color: var(--cor5);
    padding-bottom: 2rem;
}

button.cardapio {
    display: block;
    margin: auto;
    background-color: var(--cor1);
    font-family: var(--fonte3);
    font-size: 1.3em;
    border: none;
    cursor: pointer;
}

button.cardapio:hover {
    background-color: var(--cor1dark);
}